<div class="messages">
    <% if(messages.length > 0) { %>
        <% messages.forEach(message => { %>
            <div class="message">
                <div class="upper">
                    <h3><%= message.title %></h3>
                    <div class="status-date-cont"> 
                        <% if (user.status !== 'member') { %>
                            <h3><%= message.username %></h3>
                        <% } else { %>
                            <h3>Anonymous</h3>
                        <% } %>
                        <p>•</p> 
                        <p><%= message.added %></p>
                    </div>
                </div>
                <div class="lower">
                    <p><%= message.message %></p>
                    <% if (user.status === 'admin') { %>
                        <a href="/delete/<%= message.id %>">delete</a>
                    <% } else { %>
                        <div></div>
                    <% } %>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <div>
            <h1>Uh oh! Looks like there are no messages yet!</h1>
            <p>Be the first to post a message!</p>
        </div>
    <% } %> 
</div>